In [1]:
import tushare as ts

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

import scipy.optimize as sco

%matplotlib inline

In [2]:
stock_codes1 = ['600519']
stock_codes2 = ['000858']
stock_codes3 = ['002304']

num_stocks1 = len(stock_codes1)
num_stocks2 = len(stock_codes2)
num_stocks3 = len(stock_codes3)

stock_daily_quotes = {}

In [3]:
import time

for code1 in stock_codes1:
    print(code1)

600519

In [4]:
for code2 in stock_codes2:
    print(code2)

000858

In [5]:
for code3 in stock_codes3:
    print(code3)

002304

In [6]:
df1 = ts.get_k_data(code=code1, start='2016-04-01', end='2021-04-31')

df1 = df1.set_index(['date'])

df1[code1] = df1['close']

stock_daily_quotes[code1] = df1[code1]

time.sleep(1)

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

In [7]:
df2 = ts.get_k_data(code=code2, start='2016-04-01', end='2021-04-31')

df2 = df2.set_index(['date'])

df2[code2] = df2['close']

stock_daily_quotes[code2] = df2[code2]

time.sleep(1)

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

In [8]:
df3 = ts.get_k_data(code=code3, start='2016-04-01', end='2021-04-31')

df3 = df3.set_index(['date'])

df3[code3] = df3['close']

stock_daily_quotes[code3] = df3[code3]

time.sleep(1)

本接口即将停止更新，请尽快使用Pro版接口：https://waditu.com/document/2

In [9]:
all_df = pd.concat([value for _, value in stock_daily_quotes.items()], axis=1)

In [10]:
all_df.head()

             600519  000858  002304
date
2016-04-01  233.035  26.301  61.617
2016-04-05  233.444  26.385  62.084
2016-04-06  244.559  26.865  63.871
2016-04-07  241.611  26.113  60.868
2016-04-08  237.570  25.606  59.680

In [11]:
def sortinoRatio(series):

    r = series / series.shift(1) - 1

    r = r.dropna()

    sr = np.sqrt(252) * (r.mean()) / np.std(r[r < 0.027/365])

    return sr

In [12]:
def returnVolatility(series):

    return_pcnt = series.pct_change(1)

    volatility = np.std(return_pcnt)

    return volatility

In [13]:
def maximumDrawdown(series):

    performance_list = list(series)

    i = np.argmax(np.maximum.accumulate(performance_list) - performance_list)

    j = np.argmax(performance_list[:i])

    mdd = (performance_list[i] - performance_list[j]) / performance_list[j]

    return mdd

In [14]:
def calmarRatio(series):

    r = series / series.shift(1) - 1

    r = r.dropna()

    mdd = maximumDrawdown(series)

    return np.sqrt(252) * (r.mean()) / abs(mdd)

In [15]:
sortinoRatio(all_df['600519'])

2.5060416214278307

In [16]:
returnVolatility(all_df['600519'])

0.019287362373496746

In [17]:
maximumDrawdown(all_df['600519'])

-0.25529027297193385

In [18]:
calmarRatio(all_df['600519'])

0.11986768320988292

In [19]:
sortinoRatio(all_df['000858'])

2.3003033159087414

In [20]:
returnVolatility(all_df['000858'])

0.02383274022511465

In [21]:
maximumDrawdown(all_df['000858'])

-0.29587688734030193

In [22]:
calmarRatio(all_df['000858'])

0.11866118364345338

In [23]:
sortinoRatio(all_df['002304'])

1.2449929230193875

In [24]:
returnVolatility(all_df['002304'])

0.024531231682618213

In [25]:
maximumDrawdown(all_df['002304'])

-0.429427379598028

In [26]:
calmarRatio(all_df['002304'])

0.04513590722372776